@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the Exam Project</h1>

    <h3>Login</h3>
    <input type="button" value="Login" onclick="window.location='@Url.Action("loginPage", "Home")'" />



</div>
